@font-face { font-family: Comforter;
                font-display: swap;
                src: url("../fonts/Comforter-Regular.woff2") format("woff2"), url("../fonts/Comforter-Regular.woff");
                font-weight: 400;
                font-style: normal;
            }

@font-face { font-family: Raleway700;
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff") format("woff2"), url("../fonts/Raleway-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face { font-family: Raleway500;
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff") format("woff2"), url("../fonts/Raleway-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face { font-family: Raleway400;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff") format("woff2"), url("../fonts/Raleway-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face { font-family: Raleway600;
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff") format("woff2"), url("../fonts/Raleway-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face { font-family: Inter400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff2"), url("../fonts/Inter-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face { font-family: Inter700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff") format("woff2"), url("../fonts/Inter-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face { font-family: Inter500;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff") format("woff2"), url("../fonts/Inter-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face { font-family: Inter600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff") format("woff2"), url("../fonts/Inter-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
}